<!DOCTYPE html>
<html>


<head>
	<title>
		EventMeetApp
		
	</title>

	<style type="text/css">
		#topSec{
			height: 70px;
			width: 100%;
			background-color: #234567;
			text-decoration: none;
			text-align: center;

		}
		#midSec{
			color: white;
		}
		#finalSec a:hover img{
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: .7;
			height: 170px;
			width: 170px;
		}
	</style>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="margin: 0px; background-color: #303030">


	<div id="topSec">

		<div style="font-size: 30px; padding-top: 10px; color: white;">EventMeetApp</div>		
	</div>


	<div id="midSec" class="row">
		<a class="btn btn-lg btn-outline-light  col-4 txt" href="/ema/adminWelcome"> home </a>
		<a class="btn btn-lg btn-outline-light  col-4" href="/ema/adminWelcome/events"> events </a>
		<a class="btn btn-lg btn-outline-light col-4" href="/ema/adminWelcome/profile"> profile </a>
	</div>
	<div class="jumbotron mt-5 mb-0 mr-4 ml-4 row" style="background-color: #777777">
		<div class="col-6"><div class="btn btn-secondary" style="background-color: #777777"><%= typeof msg != 'undefined' ? msg : '' %></div>
		<form action="/ema/photo/<%= id %>/uploads" method="post" enctype="multipart/form-data">
            <label for="file_photo" style="font-size: 30px">Photo:</label><br>
            <input type="file" name="photo" id="file_photo" multiple accept="image/gif, image/jpeg, image/png" class="btn btn-lg"><br>
            <button type="submit" class="btn btn-lg btn-primary">Upload</button>
        </form></div>

        <div class="col-6"><div class="btn btn-secondary" style="background-color: #777777"><%= typeof msg != 'undefined' ? msg1 : '' %></div>
		<form action="/ema/files/<%= id %>/uploads/files" method="post" enctype="multipart/form-data">
            <label for="file_photo" style="font-size: 30px">FILE:</label><br>
            <input type="file" name="file" id="file_photo" multiple" class="btn btn-lg"><br>
            <button type="submit" class="btn btn-lg btn-primary">Upload</button>
        </form></div>
	</div>

	<a class="btn btn-lg btn-danger ml-4" href="/ema/adminWelcome/events/show/<%= id %>/options"> <-- Back To Menu </div>
</body>
</html>